**/*.pyc
**/.DS_Store
**/*.swp
**/.web
**/*.db
.web
pynecone.db
pcconfig2.py
pcweb/tsclient.py
.vscode/__pycache__/
*.py[cod]__pycache__/*.py[cod]
__pycache__/*.py[cod]*.py[cod]
__pycache__/*.py[cod]__pycache__/
*.py[cod]