email-validator==2.1.1
black==23.10.0
pandas>=1.5.3
psycopg2-binary==2.9.9
plotly-express==0.4.1
googletrans-py==4.0.0
typesense==0.14.0
Pillow==9.5.0
openai==1.13.3
pyyaml==6.0.1
flexdown==0.1.5a8
reflex>=0.3.8
mistletoe>=1.2.1
reflex-image-zoom>=0.0.2
reflex-chat==0.0.2a1
reflex_type_animation==0.0.1