.ikp-search-bar-trigger__container {
  border-radius: 50px; /* Adjust as needed */
  border: 1px solid rgba(186, 199, 247, 0.12); /* dark mode */
  background: rgba(161, 157, 213, 0.03);
}

@media (max-width: 767px) {
  .ikp-search-bar-trigger__container {
    border-radius: 8px; /* Adjust as needed */
    border: 1px solid rgba(186, 199, 247, 0.12); /* dark mode */
    background: rgba(161, 157, 213, 0.03);
    padding: 7px 12px 7px 12px;
    align-items: center;
  }

  .ikp-search-bar-trigger__kbd {
    display: none;
  }

  .ikp-search-bar-trigger__text {
    display: none;
  }

  .ikp-search-bar-trigger__icon	{  
    display: block !important; 
    padding: 0;
    margin: 0;
  }
  
}

.ikp-search-bar-trigger__icon	{  
  display: none;
}

.ikp-modal__backdrop {
  background: radial-gradient(circle at center, rgba(28, 28, 29, 1) 0%, rgba(28, 28, 28, 0.90) 100%);
  backdrop-filter: blur(20px);
}

.ikp-search-bar-trigger__text {
  color: #FFF;
}
.ikp-search-bar-trigger__kbd {
  align-items: center;
  background: var(--ikp-colors-transparent) !important;
  padding-inline: var(--ikp-spacing-2);
  padding-block: var(--ikp-spacing-1);
  box-shadow: var(--ikp-shadows-none);
  border-color: rgba(186, 199, 247, 0.12);
  color: #5D5D6B
}

.ikp-kbd-shortcut-icon {
  color: #6f6d78;
  stroke: #6f6d78;
}

.ikp-search-result-tabs__list	{
  border-bottom: 1px solid rgba(186, 199, 247, 0.12);
}

.ikp-message__divider-wrapper		{
  border-color: rgba(186, 199, 247, 0.12);
}