name: Deploy to production

on:
  workflow_dispatch:
    # This allows manual triggering of the workflow

concurrency:
  group: deploy-prod
  cancel-in-progress: false

permissions:
  contents: read

env:
  FLY_API_TOKEN: ${{ secrets.PRD_FLY_API_TOKEN }}

jobs:
  deploy:
    name: Deploy to Reflex Cloud
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          activate-environment: true

      - name: Install the project
        run: uv sync --locked --no-dev

      - name: Update Reflex CLI
        run: uv pip install reflex-hosting-cli -U

      - name: Deploy to Reflex
        id: deploy
        run: |
          reflex deploy --token ${{ secrets.PRD_TOKEN }} --no-interactive --config cloud-prod.yml
