name: Deploy to dev

on:
  push:
    branches:
      - main

concurrency:
  group: deploy-dev
  cancel-in-progress: false

env:
  CP_WEB_URL: https://cloud.rxc.app/
  CP_BACKEND_URL: https://cloud-f188e2cd-51fb-4b29-b546-2ce4b9efc5d5.fly.dev/
  PROMETHEUS_MULTIPROC_DIR: /tmp/prometheus_multiproc_dir

jobs:
  deploy:
    name: Deploy to Reflex and Fly.io
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Requirements
        run: pip install -r requirements.txt

      - name: Update Reflex
        run: pip install reflex -U

      # temporary fix until reflex-cli is published to pypi
      - name: Update Reflex CLI
        run: pip install reflex-hosting-cli -U

      - name: Deploy to Reflex
        id: deploy
        run: |
          reflex deploy --project ${{ secrets.DEV_PROJECT_ID }} --token ${{ secrets.DEV_TOKEN }} --no-interactive





