name: integration-tests

env:
  TELEMETRY_ENABLED: false
  NODE_OPTIONS: "--max_old_space_size=8192"
  REFLEX_DEP: "git+https://github.com/reflex-dev/reflex@main"
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      reflex_dep:
        description: "Reflex dependency (full specifier)"

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  reflex-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.11"
          activate-environment: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Install Requirements for reflex-web and reflex
        run: uv pip install '${{ github.event.inputs.reflex_dep || env.REFLEX_DEP }}'

      - name: Init Website for reflex-web
        run: reflex init

      - name: Export the website
        run: reflex export
